<!DOCTYPE html>
<html>
  <head>
    <title>Barklist</title>
    <link rel="stylesheet" type="text/css" href="http://localhost:8000/css/app.css">
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= yield %>

  </body>
</html>
